# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
env.bak/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and Databases
*.log
*.sqlite3
*.db

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Miscellaneous
.DS_Store
Thumbs.db
